[Desktop Entry]
Version=1.0
Name=MicroDude
Comment=Editor for Arturia MicroBrute
Comment[fr]=Éditeur pour le MicroBrute d'Arturia
Keywords=ud;microdude
Exec=microdude
Icon=microdude
Terminal=false
Type=Application
